[defaults]
inventory = hosts
remote_tmp = $HOME/.ansible/tmp
local_tmp = $HOME/.ansible/tmp
[privilege_escalation]
become = true
[ssh_connection]
pipelining = true
ssh_args = -o ForwardAgent=yes -C -o ControlMaster=auto -o ControlPersist=60s

